$primary: #16A085;
$header: #2C3E50;
$background: #FAFBFF;

$hover: #f7f7f7;
$inputBorder: #ccc;
$border: #ddd;
$divider: #ddd;
$overlay: rgba(0,0,0, .1);

$white: #fff;

$inputOutline: #68a4da;

$primaryText: #242729;
$secondaryText: #6a737c;
$hintText: $divider;

$tableHeader: #f9fafb;

// toast
$toastErrorBackground: #f2dede;
$toastErrorColor: #b94a48;
