$primary: #1967D2;
$header: #24292e;
$background: #F5F6FB;

$hover: #f7f7f7;
$inputBorder: #ddd;
$border: #ddd;
$divider: #ddd;
$overlay: rgba(0,0,0, .1);

$white: #fff;

$inputOutline: #68a4da;

$primaryText: #242729;
$secondaryText: #6a737c;
$hintText: $divider;