$primary: #1967D2;
$header: #24292e;
$background: #F5F6FB;

$inputBorder: #ddd;
$border: #ddd;
$divider: #ddd;

$white: #fff;

$inputOutline: #68a4da;

$primaryText: #242729;
$secondaryText: #6a737c;
$hintText: $divider;