@import '~sass/colors';
@import '~sass/variables';

// util classes
.rel {
  position: relative;
}
.inline {
  display: inline-block;
}
.flex {
  display: flex;
}
.pointer {
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $overlayZIndex;
  background: $overlay;

  animation-duration: .4s;
  animation-name: fadeIn;
}
.content {
  max-width: $contentWidth;
  margin: 0 auto;
}
.center {
  text-align: center;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

// float
.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}


// gutter classes
.p {
  padding: $p;
}
.pt {
  padding-top: $p;
}
.pl {
  padding-left: $p;
}
.pb {
  padding-bottom: $p;
}
.pr {
  padding-right: $p;
}
.py {
  padding-top: $p;
  padding-bottom: $p;
}
.p--2 {
  padding: $p--2;
}
.pt--2 {
  padding-top: $p--2;
}
.pl--2 {
  padding-left: $p--2;
}
.pb--2 {
  padding-bottom: $p--2;
}
.pr--2 {
  padding-right: $p--2;
}
.py--2 {
  padding-top: $p--2;
  padding-bottom: $p--2;
}
.px--2 {
  padding-left: $p--2;
  padding-right: $p--2;
}

.mt {
  margin-top: $m;
}
.ml {
  margin-left: $m;
}
.mb {
  margin-bottom: $m;
}
.mr {
  margin-right: $m;
}
.my {
  margin-top: $m;
  margin-bottom: $m;
}

.mt--2 {
  margin-top: $m--2;
}
.ml--2 {
  margin-left: $m--2;
}
.mb--2 {
  margin-bottom: $m--2;
}
.mr--2 {
  margin-right: $m--2;
}
.my--2 {
  margin-top: $m--2;
  margin-bottom: $m--2;
}

.mt--3 {
  margin-top: $m--3;
}
.ml--3 {
  margin-left: $m--3;
}
.mb--3 {
  margin-bottom: $m--3;
}
.mr--3 {
  margin-right: $m--3;
}


//
// Color classes
.col--primary {
  color: $primary;
}
.col--white {
  color: $white;
}

.col--secondaryText {
  color: $secondaryText;
}
.col--errorText {
  color: $errorText;
}
