@import "~sass/gutter.scss";
@import "~sass/vendor/avalanche/variables";

$fontFamily: 'Open Sans', sans-serif;

$headerHeight: 72px;
$headerAuthenticatedHeight: 54px;

$footerHeight: 50px;

$contentWidth: 1200px;

$borderRadius: 4px;

$inputLineHeight: 40px;
$inputBorderRadius: 4px;

$buttonSmallWidth: 250px;
$buttonSmallWidth: 250px;