@import "~sass/colors";
@import "~sass/variables";

.button {
  box-sizing: border-box;
  border-radius: $inputBorderRadius;

  padding: $p $p--2;

  border: none;
  outline: none;

  &--primary {
    background: lighten($primary, 10);
    color: $white;
    cursor: pointer;

    &:hover {
      background: $primary;
    }
  }

  &--disabled {
    background: $disabledBackground;
    opacity: $disabledOpacity;
    color: $primaryText;
    cursor: auto;

    &:hover {
      background: $disabledBackground;
    }
  }

  &--small {
    max-width: $buttonSmallWidth;
  }
  &--max {
    width: 100%;
  }
}
