@import "~sass/colors";
@import "~sass/variables";

.text {
  &--avatar-upload {
    font-size: 72px;
  }
  &--display {
    font-size: 42px;
    letter-spacing: 8px;
  }
  &--header {
    font-size: 28px;
  }
  &--h1 {
    font-size: 24px;
  }
  &--h2 {
    font-size: 20px;
  }
  &--h3 {
    font-size: 18px;
  }
  &--h4 {
    font-size: 16px;
  }
  &--h5 {
    font-size: 14px;
  }
  &--h6 {
    font-size: 12px;
    color: $secondaryText;
  }
  
  &--link {
    color: $primary;
  }
  
  &--underline:hover {
    text-decoration: underline;
  }
  
  &--block {
    display: block;
  }
  
  &--center {
    text-align: center;
    display: block;
  }
  
  &--uppercase {
    text-transform: uppercase;
  }
  
  &--regular {
    font-weight: 400;
  }
  &--semi-bold {
    font-weight: 600;
  }
  &--bold {
    font-weight: 700;
  }
}