@import '~sass/colors.scss';
@import '~sass/variables.scss';

.dashlayout {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  
  &__container {
    background: $background;
    flex: 1 1 auto;
  }
  
  &__content {
    max-width: $contentWidth;
    margin: 0px auto;
    padding: $p--2;
    
    @include av-mq("pocket") {
      padding: 0;
    }
  }
  
  &__footer {
    display: flex;
    border-top: 1px solid $border; 
    background: $white;
    padding-left: $p--2;
    padding-right: $p--2;
  }
}

.footer {
  height: $footerHeight;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
  &__content {
    max-width: $contentWidth;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  
  &__links {
    li {
      display: inline-block;
      margin-right: $m--2;
    }
  }
}